body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container {
    background-color: aqua;
    max-width: 600px;
    margin: 30px auto;
    padding: 20px;
}

header {
    background-color: bisque;
    text-align: center;
    margin-bottom: 20px;
}

.task-form {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.task-list {
    list-style: none;
    padding: 0;
}

.task-item {
    background-color: #f4f4f4;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
}